<div id="signup-dialog" class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-signup-popup">
  <div class="small-dialog-headline">
    <h2>Sign Up</h2>
  </div>
  <div class="small-dialog-content woo-reg-box">
    <form  [formGroup]="registerForm" class="register workscout_form">



      <p class="form-row form-row-wide">
        <label for="reg_email">Email address <span class="required">*</span>
          <i class="ln ln-icon-Mail"></i><input type="email" class="input-text" name="email" id="reg_email"  formControlName="email" />
        </label>
      </p>
      <p class="form-row form-row-wide">
        <label >Password <span class="required">*</span>
          <i ></i><input type="password" class="input-text" name="password" id="password1"  formControlName="password" />
        </label>
      </p>

      <!-- Spam Trap -->
      <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input type="text" name="email_2" id="trap" tabindex="-1" autocomplete="off" /></div>

      <label for="user_email">I&#039;m looking..</label><select name="role" class="input chosen-select"><option value="employer">..to hire</option><option value="candidate">.. for a job</option></select>
      <p class="form-row">
        <input type="hidden" id="_wpnonce" name="_wpnonce" value="5d90b57346" /><input type="hidden" name="_wp_http_referer" value="/" />
        <input type="submit" class="button" name="register" value="Register" (click)="tryRegister()" />
      </p>


    </form>

  </div>
</div>
