<body class="page-template page-template-template-dashboard page-template-template-dashboard-php page page-id-14 fullwidth group-blog workscout wpb-js-composer js-comp-ver-5.4.7 vc_responsive">


<div id="wrapper">

  <header class="default sticky-header" id="main-header">
    <div class="container">
      <div class="sixteen columns">

        <!-- Logo -->
        <div id="logo">
          <a href="../index.html" title="WorkScout" rel="home"> </a>
        </div>
        <!-- Mobile Navigation -->
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
          </button>
        </div>

        <!-- Menu -->

        <nav id="navigation" class="menu">

          <ul id="responsive" class="menu"><li id="menu-item-2876" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-2876"><a href="../index.html">Home</a>

          </li>
            <li id="menu-item-2859" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2859" routerLink="/offre"><a >Apply for a job</a>

            </li>


          </ul>

        </nav>
        <div id="signup-dialog" class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-signup-popup">

          <div class="small-dialog-content woo-reg-box">
            <form method="post" class="register workscout_form">



              <p class="form-row form-row-wide">
                <label for="reg_email">Email address <span class="required">*</span>
                  <i class="ln ln-icon-Mail"></i><input type="email" class="input-text" name="email" id="reg_email" value="" />
                </label>
              </p>


              <!-- Spam Trap -->
              <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input type="text" name="email_2" id="trap" tabindex="-1" autocomplete="off" /></div>

              <label for="user_email">I&#039;m looking..</label><select name="role" class="input chosen-select"><option value="employer">..to hire</option><option value="candidate">.. for a job</option></select>
              <p class="form-row">
                <input type="hidden" id="_wpnonce" name="_wpnonce" value="5d90b57346" /><input type="hidden" name="_wp_http_referer" value="/candidate-dashboard/" />                    <input type="submit" class="button" name="register" value="Register" />
              </p>


            </form>

          </div>
        </div>
        <div id="login-dialog" class="small-dialog zoom-anim-dialog mfp-hide apply-popup woocommerce-login-popup">
          <div class="small-dialog-headline">
            <h2>Login</h2>
          </div>
          <div class="small-dialog-content woo-reg-box">
            <form method="post" class="login workscout_form">


              <p class="form-row form-row-wide">
                <label for="username">Username or email address <span class="required">*</span>
                  <i class="ln ln-icon-Male"></i><input type="text" class="input-text" name="username" id="username" value="" />
                </label>
              </p>
              <p class="form-row form-row-wide">
                <label for="password">Password <span class="required">*</span>
                  <i class="ln ln-icon-Lock-2"></i><input class="input-text" type="password" name="password" id="password" />
                </label>
              </p>


              <p class="form-row">
                <input type="hidden" id="_wpnonce" name="_wpnonce" value="2790527891" /><input type="hidden" name="_wp_http_referer" value="/candidate-dashboard/" />                    <input type="submit" class="button" name="login" value="Login" />
                <label for="rememberme" class="inline">
                  <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember me                    </label>
              </p>
              <p class="lost_password">
                <a href="../my-account/lost-password/index.html">Lost your password?</a>
              </p>
              <input type="hidden" name="redirect_to" value="../job-dashboard/index.html"/>


            </form>

          </div>
        </div>





      </div>
    </div>
  </header>
  <div class="clearfix"></div>

  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="single">
    <div class="container">

      <div class="sixteen columns">
        <h1>Candidate Dashboard</h1>
        <h3>{{email}}</h3>
      </div>
    </div>
  </div>

  <div class="container full-width">
    <article id="post-14" class="sixteen columns woocommerce-account post-14 page type-page status-publish hentry">

      <nav class="woocommerce-MyAccount-navigation">
        <ul>
          <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
            <a href="../my-account/index.html">Dashboard</a>
          </li>

        </ul>
      </nav>

      <div class="woocommerce-MyAccount-content">
        <div id="resume-manager-candidate-dashboard">

          <p class="account-sign-in">You applied for this opportunity : <br>
            {{job.title}} At {{job.company}}
          With this salary {{job.price}} <br>
          You will receive an Email from
          {{job.Email}}</p>

          <button>Delete opportunity</button>


        </div>

      </div>

      <footer class="entry-footer">
      </footer><!-- .entry-footer -->

    </article>


  </div> <!-- Footer
================================================== -->
  <div class="margin-top-45"></div>

  <div id="footer">
    <!-- Main -->
    <div class="container">
      <div class="seven columns">
        <aside id="text-3" class="footer-widget widget_text"><h4>About</h4>			<div class="textwidget"><p>  Welcome to MYJjobTT this website is developped by Yassine Triki and taieb Moez </p>
          <a href="https://themeforest.net/item/workscout-job-board-wordpress-theme/13591801?ref=purethemes" class="button">Learn More</a></div>
        </aside>            </div>



    </div>

    <!-- Bottom -->
    <div class="container">
      <div class="footer-bottom">
        <div class="sixteen columns">

          <h4>Follow us</h4><ul class="social-icons"><li><a target="_blank" class="facebook" title="Facebook" href="#"><i class="icon-facebook"></i></a></li><li><a target="_blank" class="twitter" title="Twitter" href="#"><i class="icon-twitter"></i></a></li><li><a target="_blank" class="gplus" title="GooglePlus" href="#"><i class="icon-gplus"></i></a></li><li><a target="_blank" class="linkedin" title="LinkdedIn" href="#"><i class="icon-linkedin"></i></a></li></ul>

        </div>
      </div>
    </div>

  </div>

  <!-- Back To Top Button -->

</div>
<!-- Wrapper / End -->



</body>
