<body class="page-template-default page page-id-2869 fullwidth group-blog workscout wpb-js-composer js-comp-ver-5.4.7 vc_responsive">


<div id="wrapper">

  <header class="default sticky-header" id="main-header">
    <div class="container">
      <div class="sixteen columns">

        <!-- Logo -->
        <div id="logo">
          <a href="../index.html" title="WorkScout" rel="home"></a>
        </div>
        <!-- Mobile Navigation -->
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
          </button>
        </div>

        <!-- Menu -->

        <nav id="navigation" class="menu">

          <ul id="responsive" class="menu"><li id="menu-item-2876" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-2876"><a href="../index.html">Home</a>

          </li>



          </ul>

        </nav>







      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  <!-- Titlebar
  ================================================== -->
  <!-- Titlebar
      ================================================== -->

  <div id="titlebar" class="single submit-page">
    <div class="container">

      <div class="sixteen columns">
        <h2><i class="fa fa-plus-circle"></i> Post a Job</h2>
      </div>

    </div>
  </div>

  <div class="container full-width">
    <article id="post-2869" class="sixteen columns post-2869 page type-page status-publish hentry">
      <div class="submit-page">
        <form  [formGroup]="jobForm"  id="submit-job-form" class="job-manager-form">



          <!-- Job Information Fields -->

          <fieldset class="form fieldset-job_title">
            <label >Job Title</label>
            <div class="field required-field">
              <input type="text" class="input-text" formControlName="title"  name="title" placeholder="" value="" maxlength="" required />
            </div>
          </fieldset>
          <fieldset class="form fieldset-job_location">
            <label >Location <small>(optional)</small></label>
            <div class="field ">
              <input type="text" class="input-text" name="job_location" formControlName="location"  placeholder="e.g. &quot;London&quot;" value="" maxlength=""  />
              <small class="description">Leave this blank if the location is not important</small>				</div>
          </fieldset>


          <fieldset class="form fieldset-job_type">
            <label for="job_type">Job type</label>
            <div class="field required-field">
              <select name='job_type[]' id='job_type' class='job-manager-category-dropdown' formControlName="type"  data-placeholder='Choose job type&hellip;' data-no_results_text='No results match' data-multiple_text='Select Some Options'>
                <option class="level-0" *ngFor="let m of metiers">{{m}}</option>

              </select>
            </div>
          </fieldset>

          <fieldset class="form fieldset-job_category">
            <label for="job_category">Job category</label>
            <div class="field required-field">
              <select name='job_category[]' id='job_category' class='job-manager-category-dropdown ' formControlName="category" data-placeholder='Choose a category&hellip;' data-no_results_text='No results match' data-multiple_text='Select Some Options'>
                <option class="level-0" *ngFor="let c of jobcat">{{c}}</option>

              </select>
            </div>
          </fieldset>


          <fieldset class="form fieldset-job_description">
            <label for="job_description">Description</label>
            <div class="field required-field">
              <div id="wp-job_description-wrap" class="wp-core-ui wp-editor-wrap html-active">

                <div id="wp-job_description-editor-container" class="wp-editor-container">
                  <textarea class="wp-editor-area" rows="8" cols="40" name="job_description" id="job_description" formControlName="description"></textarea>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="form fieldset-application">
            <label for="application">Application email/URL</label>
            <div class="field required-field">
              <input type="text" class="input-text" name="application" id="application" formControlName="Email" placeholder="Enter an email address or website URL" value="" maxlength="" required />
            </div>
          </fieldset>

          <fieldset class="form fieldset-salary_max">
            <label for="salary_max">Salary (&#36;) <small>(optional)</small></label>
            <div class="field ">
              <input type="text" class="input-text" formControlName="price" name="salary_max" id="salary_max" placeholder="e.g. 50000" value="" maxlength=""  />
            </div>
          </fieldset>



          <!-- Company Information Fields -->
          <div class="divider"><h3>Company Details</h3></div>


          <fieldset class="form fieldset-company_name">
            <label for="company_name">Company name</label>
            <div class="field required-field">
              <input type="text" class="input-text" name="company_name" id="company_name" formControlName="company" placeholder="Enter the name of the company" value="" maxlength="" required />
            </div>
          </fieldset>





          <p class="send-btn-border">
            <input type="hidden" name="job_manager_form" value="submit-job" />
            <input type="hidden" name="job_id" value="0"/>
            <input type="hidden" name="step" value="0"/>
            <input type="submit" name="submit_job" [disabled]="jobForm.invalid" class="button big" routerLink="/accueil" value="Poster" (click)="submitJobData()"/>
          </p>

        </form>
      </div>

      <footer class="entry-footer">
      </footer><!-- .entry-footer -->

    </article>


  </div><!-- Footer
================================================== -->
  <div class="margin-top-45"></div>

  <div id="footer">
    <!-- Main -->
    <div class="container">
      <div class="seven columns">
        <aside id="text-3" class="footer-widget widget_text"><h4>About</h4>			<div class="textwidget"><p> Welcome to MYJjobTT this website is developped by Yassine Triki and taieb Moez</p>
          <a href="https://themeforest.net/item/workscout-job-board-wordpress-theme/13591801?ref=purethemes" class="button">Learn More</a></div>
        </aside>            </div>


    </div>

    <div class="container">
      <div class="footer-bottom">
        <div class="sixteen columns">



        </div>
      </div>
    </div>

  </div>

  <!-- Back To Top Button -->

</div>
<!-- Wrapper / End -->




</body>
